Fhir.Publication/Schemas/wsdl/ITKService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 3 (http://www.altova.com) by Prashant Trivedi  (HSCIC (Formerly NHS CFH)) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:itk="urn:nhs-itk:ns:201005" xmlns:tns="urn:nhs-itk:ns:201005" targetNamespace="urn:nhs-itk:ns:201005">
	<documentation>
		ITKService.wsdl (WSDL version 1.1)
		HSCIC July 2014
	</documentation>
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:nhs-itk:ns:201005">
			<!-- please edit the schema location path according to the deployment 
				configuration -->
			<xs:include schemaLocation="../ITKMessageTypes-2010-05.xsd"/>
			<xs:include schemaLocation="../distributionEnvelope-v2-0.xsd"/>
		</xs:schema>
	</types>
	<message name="itkMessage">
		<part name="itkMessage" element="itk:DistributionEnvelope"/>
	</message>
	<message name="faultResponse">
		<part name="faultResponse" element="itk:ToolkitErrorInfo"/>
	</message>
	<portType name="ITKServiceSend1">
		<operation name="sendMessage">
			<input message="itk:itkMessage"/>
			<fault name="standardFault" message="itk:faultResponse"/>
		</operation>
	</portType>
	<portType name="ITKServiceSendRecv1">
		<operation name="sendRecvMessage">
			<input message="itk:itkMessage"/>
			<output message="itk:itkMessage"/>
			<fault name="standardFault" message="itk:faultResponse"/>
		</operation>
	</portType>
	<portType name="ITKServiceSend2">
		<operation name="sendMessage">
			<input message="itk:itkMessage"/>
			<fault name="standardFault" message="itk:faultResponse"/>
		</operation>
	</portType>
	<portType name="ITKServiceSendRecv2">
		<operation name="sendRecvMessage">
			<input message="itk:itkMessage"/>
			<output message="itk:itkMessage"/>
			<fault name="standardFault" message="itk:faultResponse"/>
		</operation>
	</portType>
	<binding name="ITKServSoap11Binding" type="itk:ITKServiceSend1">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sendMessage">
			<soap:operation soapAction="urn:nhs-itk:services:201005:sendDistEnvelope" style="document"/>
			<input>
				<soap:body parts="itkMessage" use="literal"/>
			</input>
			<fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</fault>
		</operation>
	</binding>
	<binding name="ITKServSoap11BindingRR" type="itk:ITKServiceSendRecv1">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sendRecvMessage">
			<soap:operation soapAction="urn:nhs-itk:services:201005:sendRecvDistEnvelope" style="document"/>
			<input>
				<soap:body parts="itkMessage" use="literal"/>
			</input>
			<output>
				<soap:body parts="itkMessage" use="literal"/>
			</output>
			<fault name="standardFault">
				<soap:fault name="standardFault" use="literal"/>
			</fault>
		</operation>
	</binding>
	<binding name="ITKServSoap12Binding" type="itk:ITKServiceSend2">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" soapActionRequired="true"/>
		<operation name="sendMessage">
			<soap12:operation soapAction="urn:nhs-itk:services:201005:sendDistEnvelope" soapActionRequired="true" style="document"/>
			<input>
				<soap12:body parts="itkMessage" use="literal"/>
			</input>
			<fault name="standardFault">
				<soap12:fault name="standardFault" use="literal"/>
			</fault>
		</operation>
	</binding>
	<binding name="ITKServSoap12BindingRR" type="itk:ITKServiceSendRecv2">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" soapActionRequired="true"/>
		<operation name="sendRecvMessage">
			<soap12:operation soapAction="urn:nhs-itk:services:201005:sendRecvDistEnvelope" soapActionRequired="true" style="document"/>
			<input>
				<soap12:body parts="itkMessage" use="literal"/>
			</input>
			<output>
				<soap12:body parts="itkMessage" use="literal"/>
			</output>
			<fault name="standardFault">
				<soap12:fault name="standardFault" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="ITKService">
		<documentation>
			ITKService is a single service interface that has two
			methods of processing the ITK Distribution Envelope
			1) Asynchronously
			2) Synchronously

			This service interface supports both SOAP 1.1 and SOAP 1.2 protocols

			Four service end points are defined to work with the four bindings

			ServReq11 (Asynchronous / Request Only on SOAP 1.1)
			ServReq12 (Asynchronous / Request Only on SOAP 1.2)
			ServReqRes11 (Synchronous / Request Only on SOAP 1.1)
			ServReqRes12 (Synchronous / Request Only on SOAP 1.2)

			On Exception, SOAP faults may be raised from both the binding and
			portType levels
			It is the responsibility of the implementing systems to handle these
			SOAP faults

			It is strongly recommended to use the same SOAP protocol within a set
			of interactions
		</documentation>
		<port name="ServReq11Port" binding="itk:ITKServSoap11Binding">
			<soap:address location="http://ws.example.nhs.net/ITKServReq/11"/>
			<!-- please edit the end point location according to the deployment configuration -->
		</port>
		<port name="ServReqRes11Port" binding="itk:ITKServSoap11BindingRR">
			<soap:address location="http://ws.example.nhs.net/ITKServReqRes/11"/>
			<!-- please edit the end point location according to the deployment configuration -->
		</port>
		<port name="ServReq12Port" binding="itk:ITKServSoap12Binding">
			<soap12:address location="http://ws.example.nhs.net/ITKServReq/12"/>
			<!-- please edit the end point location according to the deployment configuration -->
		</port>
		<port name="ServReqRes12Port" binding="itk:ITKServSoap12BindingRR">
			<soap12:address location="http://ws.example.nhs.net/ITKServReqRes/12"/>
			<!-- please edit the end point location according to the deployment configuration -->
		</port>
	</service>
	<!-- this binding is for SOAP 1.1 Request only -->
	<!-- this binding is for SOAP 1.1 Request Response -->
	<!-- this binding is for SOAP 1.2 Request only -->
	<!-- this binding is for SOAP 1.2 Request Response -->
</definitions>
